
@{
    //ViewBag.Title = "SilverAccount";
    
}

<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(../../images/colorcom.jpg);">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>رنگ موی ترکیبی را با ما تجربه کنید</h1>
                        <h2>نرم افزاری مطمئن برای ترکیب رنگ موی دلخواه شما</h2>
                        <p>
                            <a href="@Url.Action("Login", "Account", routeValues: new { Area = "Client" })" class="btn btn-primary btn-lg">همین حالا ثبت نام کنید</a>
                            <a href="#" class="btn btn-white btn-outline btn-lg">دانلود اپ موبایل</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>