@model IEnumerable<CMS_Golbarg.Core.Models.HairColor>
@using CMS_Golbarg.Helpers
@{
    ViewBag.Title = "لیست رنگ مو ها";

}

@*<a class="btn btn-sm fa fa-plus-square " href="@Url.Action("Create","HairColors")"></a>*@
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">لیست رنگ مو ها</h3>
        <a class="btn btn-default btn-success pull-left" href="@Url.Action("Create")" style="color: white;"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    <div class="box-body">
        <div class="card_content">
            @foreach (var item in Model)
            {
                @Html.Partial("~/Areas/Admin/Views/Shared/_HairColorCardView.cshtml", item)
            }
        </div>
    </div>
</div>


